$primary-color: #3498db;
$secondary-color: #21cd69;
$text-color: #333;
$background-color: #fffefe;
$card-background: #ffffff;
$card-border: #dddddd;
$border-radius: 10px;
$shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$card-spacing: 50px;
$max-width: 1200px;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

.about-us-container {
    padding: 20px;
    text-align: center;
    margin: 0 auto; 
  }
  
  .hero-section {
    background: url('../../images/image4.jpg') no-repeat center center;
    background-size: cover;
    width: 100%; 
    height: 35rem;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    padding: 2rem; 
    border-radius: 0; 
    box-shadow: $shadow;
    
    h1 {
      color: rgb(15, 14, 14);
      font-size: 2.5rem;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
      margin: 0;
      padding: 1rem 0; 
      width: 100%;
      text-align: center;
      box-sizing: border-box; 
     
    }
  }
  
  .cards-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
        gap: $card-spacing;
  
    .card {
      background-color: $card-background;
      border: 1px solid $card-border;
      border-radius: $border-radius;
      box-shadow: $shadow;
      padding: 20px;
      text-align: left;
  
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
  
      .icon {
        font-size: 2.5rem;
        margin-bottom: 15px;
      }
  
      h2 {
        color: $primary-color;
        margin-bottom: 10px;
      }
  
      p {
        color: $text-color;
        line-height: 1.6;
      }
    }
  }
  
  .about-us__footer {
    margin-top: 70px;
    text-align: center;
    padding: 20px;
    background-color: $secondary-color;
    color: rgb(12, 10, 10);
    border-radius: $border-radius;
    
  }


  @media (max-width: 768px) {
    .hero-section {
      h1 {
        font-size: 2rem;
      }
    }
  
    .cards-section {
      grid-template-columns: 1fr; 
    }
  
    .card {
      margin: 0 auto;
    }
  }
  