@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}

.navbar {
  padding: 1rem 2rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  .links {
    display: flex;
    gap: 20px;

    .link {
      text-decoration: none;
      color: #191919;

      h4 {
        margin: 0;
        font-size: 18px;
        font-weight: normal;
      }

      &:hover {
        color: #04dc7b;
      }
    }
    .btn {
      background-color: #28a745; /* Vert vif */
      color: white; /* Couleur du texte */
      font-size: 10px; /* Taille du texte */
      padding: 12px 2px; /* Espacement intérieur */
      border: none; /* Pas de bordure */
      border-radius: 5px; /* Coins arrondis */
      cursor: pointer; /* Curseur pointeur */
      transition: background-color 0.3s ease; /* Transition douce pour le changement de couleur */
  }
  
  .btn:hover {
      background-color: #218838; /* Couleur légèrement plus sombre au survol */
  }
  
  .btn:active {
      background-color: #1e7e34; /* Couleur encore plus sombre au clic */
      box-shadow: 0 5px #1c7430; /* Effet de bouton enfoncé */
      transform: translateY(2px);
  
  }
}

  .icon {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }

  @media (max-width: 768px) {
    .icon {
      display: block;
    }

    .links {
      position: absolute;
      top: -300px;  
      right: 0;
      flex-direction: column;
      background-color: #ffffff;
      width: 200px;
      gap: 15px;
      padding: 1rem;
      transition: top 0.3s ease-in;
      z-index: 10;
    }

    .links.active {
      top: 50px;  
    }
  }
}
